.sidebar-related {
    h4 {
        font-size: 1.2rem;
        color: #3b4045;
        font-weight: normal;
        margin-bottom: 15px;
    }

    .question {
        display: flex;
        align-items: flex-start;
        margin-bottom: 13px;
        font-size: 13px;


        .votes {
            background-color: #2f8f2e;
            text-decoration: none;
            color: white;
            padding: 5px 10px;
            font-size: 10.7px;
            border-radius: 3px;
            margin-right: 10px; 
            margin-top: 3px;
            font-weight: bold;
            min-width: 20px;
            text-align: center;
        }

        .blueText {
            color: #0077cc;
            text-decoration: none;
            font-weight: 500;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
