.sidebar-related {
    h4 {
        font-size: 1.2rem;
        color: #3b4045;
        font-weight: normal;
        margin-bottom: 15px;
    }

    .question {
        display: flex;
        align-items: center;
        margin-bottom: 35px; /* Further increased the gap between questions */
        font-size: 13px;

        &:last-child {
            margin-bottom: 0;
        }

        .votes {
            background-color: #2f8f2e;
            text-decoration: none;
            color: white;
            padding: 5px 10px;
            font-size: 11.7px;
            border-radius: 3px;
            margin-right: 10px; 
            font-weight: bold;
            min-width: 20px;
            text-align: center;
        }

        .blue-text {
            color: #0077cc;
            text-decoration: none;
            font-weight: 500;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
