.leftSideBar {
    background-color: #fbf8f3;
    width: 165px;
    padding: 20px;
    font-size: 14px;

    .channelName {
        display: flex;
        align-items: center;
        padding: 10px 0;

        .icon {
            width: 18px;
            height: 18px;
            margin-right: 10px;
        }

        .channel {
            font-size: 14px;
            font-weight: 600;
            color: #3b4045;
        }
    }

    .divide {
        background-color: #e1e1e1;
        margin: 10px 0;
    }

    .team {
        display: block;
        margin-top: 20px;

        .bold-text {
            font-weight: 700;
            color: #3b4045;
        }

        img {
            margin-top: 10px;
            height: 33px;
            width: 130px;
        }

        p {
            font-size: 12px;
            color: #6a737c;
            margin-bottom: 10px;

            .bold {
                font-weight: 600;
            }
        }

        .orangebtn {
            background-color: #f48024;
            border: none;
            color: white;
            padding: 8px;
            width: 100%;
            font-size: 12px;
            border-radius: 6px;
            margin-bottom: 10px;
            cursor: pointer;

            &:hover {
                background-color: #d3701f;
            }
        }

        a {
            display: flex;
            justify-content: center;
            color: #0077cc;
            font-size: 12px;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
