.container {
    display: flex;
    justify-content: center;  
    align-items: center;      
    max-width: 2000px;        
    margin: 0 auto;           
    padding: 20px;                      
    box-sizing: border-box;
    flex-direction: column;
    
    .title {
        font-size: 28px;
        color: #222;
        font-weight: normal;
        text-align: center;
    }

    .panel-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
        .left-panel {
            flex: 2;
            .justqa {
                margin: 100px 0;
                text-align: right;
                display: flex;
                justify-content: space-between;
                flex-direction: column;

                .justquestions {
                    .arrow {
                        position: relative;
                        bottom: 100px;
                        left: 150px;
                    }
                }
                .andanswers {
                    .arrow {
                        position: relative;
                        bottom: 10px;
                        left: 150px;
                    }
                }
            }
            
            .goodanswers, .theperson {
                width: 95%;
                position: relative;

                .image-container {
                    height: max;
                    width: max-content;
                    float: left;

                    .image {
                        margin-right: 10px;
                        width: 25px;
                        height: 25px;
                    }
                }
                .para-italic {
                    font-style: italic;
                    font-size: 90%;
                }
            }
        }
        .right-panel {
            flex: 3;
            padding-left: 120px;
            .right-image {
                padding-left: 10px;
                border-style: solid;
                border-width: 1px;
            }
        }
    }
}
