.postContent {
    display: flex;
    background-color: #fbf8f3;
    flex-direction: column;

    .wrapper {
        display: flex;
        flex-direction: row;
        margin-top: 5px;
    }

    .navbar {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .leftSidebar {
        width: 164px;
        position: sticky;
        top: 0;
        height: 100vh;
        margin: 10px 0;
        background-color: #fbf8f3;
        left: 10.3%;
    }

    .mainContent {
        background-color: white;
        display: flex;
        gap: 20px;
        max-width: 1100px;
        margin: 0 auto;
        height: auto;
        padding-left: 20px;
    }

    .content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        max-width: 800px;
    }

    .rightSidebar {
        width: 300px;
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        height: auto;
        margin-top: 10.5%;
    }

    .body {
        max-width: 800px;
    }

    .askButton {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        margin-bottom: 20px; 
    
        .post-title {
            font-size: 27px;
            font-weight: normal;
            margin: 0;
        }
    
        .askButton {
            margin-left: auto;
        }
    }
}
