.badges-container{
    display: block;
    unicode-bidi: isolate;
    .badges-title {
        font-size: 28px !important;
        color: #222 !important;
        font-weight: normal;
        text-shadow: 0 1px 0 #fff;
        text-align: center;
        margin-bottom: 1.5em !important;
    }
    .badges-left-col {
        width: 320px;
        float: left;
        font-size: 14px;
        margin-bottom: 30px;
    }
    .badges-right-col {
        width: 530px;
        float: right;
        font-size: 14px;
        margin-bottom: 30px;
        overflow: hidden;
        .badges-block {
            position: relative;
            left: 0px;
            background: #fff;
            border: 1px solid #e0e0e0;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            .badges-page {
                display: table;
                border-collapse: separate;
                box-sizing: border-box;
                text-indent: initial;
                unicode-bidi: isolate;
                .badges-cell {
                    display: table-cell;
                    vertical-align: inherit;
                    unicode-bidi: isolate;
                    .badge {
                        display: inline-block;
                        margin: 0 3px 5px 0;
                        padding: 5px 10px 3px 3px;
                        background-color: #2b3c5e;
                        background-clip: padding-box;
                        border-radius: 15px;
                        border-width: 0;
                        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4), 0 2px 0 rgba(255, 255, 255, 0.15) inset;
                        font-size: 11px;
                        line-height: 1;
                        color: #fff !important;
                        text-decoration: none;
                        white-space: nowrap;
                        .badge3 {
                            background-image: url('/sprites.png');
                            background-repeat: no-repeat;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }

}