.newuser-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; 
    unicode-bidi: isolate;
    max-width: 1000px; 
    margin: 0 auto; 
    .newuser-title{
        font-size: 28px !important;
        color: #222 !important;
        font-weight: normal;
        text-shadow: 0 1px 0 #fff;
        text-align: center;
        margin-bottom: 20px !important;
        width: 100%;
    }
    .huge-button { 
        width: 100%;
        padding: 1.5em 0;
        margin: 0 2%;
        display: flex;
        justify-content: center;
    }
    button{
        border: 1px solid #c47b07;
        border-radius: 6px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 2px 0 rgba(255, 255, 255, 0.15) inset; 
        padding: 1.5em 1.5em 1.5em 1.5em;
        background: -webkit-gradient(linear, left top, left bottom, from(#fba00c), to(#f67c16));
        cursor: pointer;
        // margin-left: 185px;
        margin: 0 65px;
        width: 230px;
        height: 75px;
    }
    .user-button{
        color:#12457c;
        text-decoration: none;
        line-height: 1.5;
        font-size: 18px;
        font-family: 'Helvetica Neue', Arial, sans-serif;
        font-weight: bold;
        text-align: center;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        white-space: nowrap;
    }
    .user-button:hover{
        color:#4ca3d7;
    }
    
}