.footer {
  background-color: 	#92c2f2;
  color: 	#636b74;
  padding: 5px;
  width: 100%;
  text-align: left;
  font-size: 14px;
  box-sizing: border-box;
} 

.footer .-title a {
  color: hsl(210,8%,25%);
  text-decoration: none;
}

.footer .-link {
  color: hsl(210,77%,36%);
  display: inline-block;
  text-decoration: none
}

.footer .-link:hover {
  color: hsl(210,77%,46%)
}

.footer-container {
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  flex: 0 0 64px;
  margin-top: 24px;
}

.footer-navigator {
  display: flex;
  flex: 2 1 auto;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1 0 auto;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 3px;
}

.footer-social {
  flex: 1 1 150px;
  display: flex;  
  flex-direction: column;
  font-size: 12px;
  align-items: flex-start; 
}

.footer-social ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0
}

.footer-social ul li {
  margin-top: 24px;
  margin-right: 12px;
  line-height: 14px;   
}

.footer-social p {
  margin-top: auto;
  margin-bottom: 24px;
}