.question-title {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 20px;
}

.question-image {
    width: 32px;
    height: 32px;
    margin-right: 15px;
}

.question-details {
    flex: 1;
}

.question-link {
    font-size: 20px;
    text-decoration: none;
    color: #366FB3;
    transition: color 0.3s ease;
}

.question-link:hover {
    color: #4CA3D7;
}

.question-title-text {
    margin: 0;
    display: inline;
}

.question-description {
    font-size: 10px;
    color: #949494;
    margin-top: 5px;
}
