.container {
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding: 15px;
    
    .question-image {
        width: 32px;
        height: 32px;
        margin-right: 15px;
        object-fit: cover;
    }
    
    .question-content {
        flex: 1;
    }

    .question-details {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
    }

    .details {
        margin-left: 0px;
        font-size: 12px;
        color: hsl(210, 8%, 68%);
    }
    
    .question-link {
        font-size: 18px;
        text-decoration: none;
        color: #366FB3;
        transition: color 0.3s ease;
    }
    
    .question-link:hover {
        color: #4CA3D7;
    }
    
    .question-title {
        margin: 0;
        display: inline;
    }
}