.container {
    padding: 0px;
    width: auto;
    background-color: transparent;
    position: relative;
    margin-top: 0px;
    .heading{
        color: #444;
        font-size: 16px;
        margin: 3px 0 3px 0;
        font-weight: bold;
        line-height: 27px;
    }
    
    .topnetworksites-nav-links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: auto;
        margin-bottom: 0px;
        text-align: right;
        margin-top: 8px;
    }
    
    .topnetworksites-footer {
        text-align: left;
        margin: 0px 40px 1px;
        font-weight: bold;
        font-size: 12px;
        text-decoration: none;
        color: #12457c;
        white-space: nowrap;
    }
    
    .topnetworksites-footer:hover{
        color: #4ca3d7; 
    }
}




