.ThreadPost {
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 100vh;

    .leftSidebar {
        position: sticky;
        flex: 0 0 160px;
        height: 45vh;
    }

    .rightSidebar {
        position: sticky;
        flex: 0 0 300px;
    }

    .content{
        flex: 1;
    }
}