.topnetworksites-link {
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: auto;
    height: auto;
    margin-bottom: 10px;
    text-decoration: none;
    color: #12457c;       
    font-size: 12px;
}

.topnetworksites-link:hover{
    color: #4ca3d7;    
}


.topnetworksites-logo {
    height: 16px;
    width: 16px; 
    margin-right: 5px;       
}