.login-button {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    border-color: white;
    padding: 8px 10px;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
    margin-left: 5px;
}

.login-button:hover {
    background-color: #813F09;
    color: white;
    border-color: black;
}
