.container {
    width: 725px;
    margin: 10px 15px 20px 0;
    float: left;
    clear: both;
    .question-tab {
        text-align: right;
        font-size: 14px;
        margin-bottom: 5px;
    }
    .list-line {
        border-top: 1px solid #f2f2f2;
        margin: 0;
    }
    
    .question-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .question-list-item {
        border-bottom: 1px solid #f2f2f2;
    }
    
    .question-list-item:last-child {
        border-bottom: none;
    }
}

